.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 32px;

  img {
    width: clamp(100px, 50%, 300px);
    filter: drop-shadow(0 0 2px var(--font-color-emphasized));
  }
}

.liveImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 40px;
}

.liveImg img {
  border-radius: 6px;
}

.headline {
  margin-block-start: 32px;
}

.concertTable:not(:last-child) {
  margin-block-end: 2em;
}

.concertTable:last-child {
  margin-block-end: 1em;
}

.concertTable,
.concertTable th,
.concertTable td {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: solid 1px var(--font-color-main);
  text-align: start;
  padding-block: 8px;
}

.upcomingShows {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-block-start: 1em;
  margin-block-end: 2em;

  &:last-child {
    margin-block-end: 1em;
  }
}

.soldOut {
  color: var(--font-color-hover);
}
