.headline {
  margin-block-start: 32px;
}

.concertTable:not(:last-child) {
  margin-block-end: 2em;
}

.concertTable:last-child {
  margin-block-end: 1em;
}

.concertTable,
.concertTable th,
.concertTable td {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: solid 1px var(--font-color-main);
  text-align: start;
  padding-block: 8px;
}

.soldOut {
  color: var(--font-color-hover);
}
