.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.rpbWriting,
.ünpWriting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end: 40px;
}

.rpbWriting img {
    width: 100%;
    filter: drop-shadow(0 0 2px var(--font-color-emphasized));
}

.ünpWriting img {
    width: 60%;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bigTextWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    font-size: 1.5em;
    color: var(--font-color-headline);

    h2,
    h3 {
        color: var(--font-color-emphasized)
    }
}